p, a{
    font-size: 20px
}

strong {
    font-size: 18px
}

h3 {
    font-size: 35px
}

h5 {
    font-size: 30px;
}

.content {
    max-width: 1700px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  }

 .content-last {
     margin-bottom: 50px;
 }
  
.tippy-box[data-theme~='blue'] {
    background-color: #18a0b1;
    color: white;
    font-size: medium;
    }

.tippy-content {
    font-size: large;
    padding: 0.3rem 0.6rem;
    }

#myButton, #myButton2, #myButton3, #myButton4 {
    background-color: #18a0b1;
    color: white;
    font-size: large;
    border-radius: 5px;
    border: white;
}

#myButton {
    margin-left: 25px;
}

#myButton2, #myButton3, #myButton4 {
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 5px;
}