p, a{
    font-size: 20px
}

strong {
    font-size: 18px
}

h3 {
    font-size: 35px
}

h5 {
    font-size: 30px;
}

.content {
    max-width: 1700px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
  }

.tippy-box[data-theme~='blue'] {
    background-color: #18a0b1;
    color: white;
    font-size: medium;
    }

.tippy-content {
    font-size: large;
    padding: 0.3rem 0.6rem;
    }

#myButton {
    background-color: #18a0b1;
    color: white;
    font-size: xx-large;
    border-radius: 5px;
    border: white;
}