<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>NBA Shot Analysis</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
      <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #18a0b1;">
          <a class="navbar-brand" href="/">
            <img src="../static/images/basketball.png" width="40" height="40" class="d-inline-block align-top" alt="basketball">
            <strong>NBA Shot Analysis</strong> 
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
               <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                      <li class="nav-item dropdown">
                        <li class="nav-item">
                          <a class="nav-link" href="/"><strong>Home</strong></a>
                      <li class="nav-item">
                       <a class="nav-link" href="/comparisons"><strong>Player/League Comparisons</strong></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/player_shots"><strong>Player Shot Charts 2018-19</strong></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/take_the_shot"><strong>Take The Shot</strong></a>
                      </li>
                  </ul>
               </div>
        </nav>
      </header>

      <div class="content">
        <h3>
          The Evolution of Basketball
        </h3>

        <hr>

        <p>
          Ever since 1891, basketball has continued to evolve, with new strategies being developed every era by the best teams. With the introduction
          of the three-point shot in 1979, one way the game has evolved is the increase in volume of three-point shots compared to the traditional
          two-pointer. But when did this occur? The transition towards a three-point era has been a rather recent development, with players 
          like Stephen Curry and James Harden being pivotal influencers in this time. So how has the volume of two-point to three-point shots 
          changed? Click below to find out more on how players and the league has changed from the 2008-09 season to the 2018-19 season.
        </p>
      </div>

      <div class="content">

        <div class="card-deck">
        <div class="card border-info mb-3">
          <a href="/comparisons"><img src="../static/images/season_comparison.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title text-info">Player/League Comparisons</h5>
            <p class="card-text">An analysis on how the 2008-09 season compares with the 2018-19 season when it comes to shot selection.</p>
            <a href="/comparisons" class="btn btn-info">Check it out</a>
          </div>
        </div>
        <div class="card border-info mb-3">
          <a href="/player_shots"><img src="../static/images/player_shots.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title text-info">Player Shot Charts 2018-19 Season</h5>
            <p class="card-text">A tool you can use that visualises all the shots taken by players during the 2018-19 season.</p>
            <a href="/player_shots" class="btn btn-info">Check it out</a>
          </div>
        </div>
        <div class="card border-info mb-3">
          <a href="/take_the_shot"><img src="../static/images/court_distance.png" class="card-img-top" alt="..."></a>
          <div class="card-body">
            <h5 class="card-title text-info">Take The Shot!</h5>
            <p class="card-text">You are given the ball to shoot, test your skills and take the shot! This prediction is made using
              a machine learning model built using 
              <a href="https://scikit-learn.org/stable/" target="_blank">scikit-learn</a>
              logistic regression model.
            </p>
            <a href="/take_the_shot" class="btn btn-info">Check it out</a>
          </div>
        </div>
      </div>

    </div>

    <div class="content">

      <div class="s-box">
        <h3> About Basketall: The Basics</h3>
        <hr>
        <p>
          <img src="../static/images/basketball_court_dimensions.png"  style="width:40%"class="images-fluid float-right" mr-4 ml3 alt="basketball court dimensions">
          Basketball is played with 10 players on the court at a time, 5 on each team. The objective of the game is to shoot the ball
          into a hoop at the end of the court, with the team with the most points at the end of the game being the winner. Teams advance the ball
          up the court either through dribbling (bouncing) or passing the ball. A team composition is usually made of 1 center, 2 forwards
          and 2 guards.
          <br>
          <br>
          When a basket is made, the amount of points awarded is dependant on where the shot is made from. Shots are worth three-points if
          the shot is made behind the three-point line, two-points if the shot is made within the three-point arc and one-point if made during a
          free throw (refer to court on the right for reference).
          <br>
          <br>
          Each game is divided into 4 quarters, with a larger break happening after the first half of the game. During game time, a shot clock is 
          used in order to maintain gameflow. Teams have 24 seconds to score the ball, with the time pausing during stoppages of play or reset
          if the other team gains possession.
          <br>
          <br>
          Fouls and violations are present in the game to ensure a baseline of rules. Some fouls include personal fouls, charging, blocking,
          flagrant foul and technical foul. Some violations include travelling, double dribble and goaltending.
        </p>
      </div>
    </div>
      

      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    </body>

</html>
